mat-form-field {
    width: 300px;
}

.person-icon {
    width: 85px;
    height: 85px;
}

.link {
    width: 300px;
    margin: auto;
}

a {
font-size: 0.8em;
font-family: Arial, Helvetica, sans-serif;
color: gray;
}

.continue {
    padding-top: 15px;
}

.btn-submit{
    width: 300px;
    margin: auto;
}