<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title slot="start" class="titulo-pagina">
      <img src="../../../assets/icon/logo-appbruce-b.png" class="dog">
      Preferências
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-segment (ionChange)="onChangeTipo($event)" value="movie">
    <ion-segment-button value="movie">
      <ion-label>Filmes</ion-label>
    </ion-segment-button>
    <ion-segment-button value="tv">
      <ion-label>Séries</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div class="labelGenero">
    <ion-label id="labelgenero">Suas preferências irão ajudar a personalizar sua tela inicial com melhores sugestões de acordo com suas escolhas.</ion-label> 
    <br><br>
    <ion-label > Selecione os gêneros de sua preferência:</ion-label>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let item of generos" class="listaPreferencias" size-md="4" size="12">
          <ion-item>
            <ion-label>{{item.name}}</ion-label>
            <ion-checkbox slot="end" [(ngModel)]="item.isChecked" (ionChange)="generosChecked(item)"></ion-checkbox>
          </ion-item>
      </ion-col>
    </ion-row>
</ion-grid>

</ion-content>