
<ion-content padding>

  <ion-toolbar>
    <ion-title>Filtros</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Fechar</ion-button>
    </ion-buttons>
  </ion-toolbar>


  <ion-list inset>
    <ion-list-header>
      <ion-label>O que deseja procurar hoje?</ion-label>
    </ion-list-header>
    
    <ion-radio-group allow-empty-selection="true" name="radio-group" value="filme"
    (ionChange)="coletaTipoStreaming($event)">
  
      <ion-item>
        <ion-label>Filme</ion-label>
        <ion-radio color="medium" slot="start" value="filme" checked></ion-radio>
      </ion-item>
  
      <ion-item>
        <ion-label>Série</ion-label>
        <ion-radio color="medium" slot="start" value="serie"></ion-radio>
      </ion-item>
  
    </ion-radio-group>
  </ion-list>



  <ion-list inset>

    <ion-list-header>
      <ion-label>Filtrar por: </ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label position="floating"> Ano de Lançamento</ion-label> 
      <ion-datetime displayFormat="YYYY" [(ngModel)]="ano" name="ano" doneText="Ok" cancelText="Fechar"></ion-datetime> 
    </ion-item>
    <ion-item *ngIf="mostraCampoAtor">
      <ion-label position="floating">Ator</ion-label>
      <ionic-selectable
        [(ngModel)]="ator"
        name="ator"
        [items]="atores"
        itemValueField="id"
        itemTextField="name"
        [canSearch]="true"
        (onSearch)="onSearchAtor($event)"
        searchPlaceholder="Digite o nome do ator ou atriz...">
        <ng-template ionicSelectableSearchFailTemplate>
          <div class="resultado" padding *ngIf="atorNotFound">
            Nenhum resultado encontrado.
          </div>
        </ng-template>
        <ng-template ionicSelectableCloseButtonTemplate>
          <ion-icon name="close-circle" style="font-size: 24px;"></ion-icon>
        </ng-template>
      </ionic-selectable>
    </ion-item>
    <ion-item *ngFor="let cat2 of idiomas">
      <ion-label position="floating">Idioma Original</ion-label>
      <ion-select [(ngModel)]="idioma" (ionChange)="onChangeIdioma(idioma)" okText="Ok" cancelText="Fechar"  multiple="false" interface="alert">
        <ion-select-option *ngFor="let idioma of cat2.resultado" value="{{idioma.language}}">{{idioma.language}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Produtora</ion-label>
      <ionic-selectable
        [(ngModel)]="produtora"
        name="produtora"
        [items]="produtoras"
        itemValueField="id"
        itemTextField="name"
        [canSearch]="true"
        (onSearch)="onSearchProdutora($event)"
        searchPlaceholder="Digite o nome da produtora...">
        <ng-template ionicSelectableSearchFailTemplate>
          <div class="resultado" padding *ngIf="produtoraNotFound">
            Nenhum resultado encontrado.
          </div>
        </ng-template>
        <ng-template ionicSelectableCloseButtonTemplate>
          <ion-icon name="close-circle" style="font-size: 24px;"></ion-icon>
        </ng-template>
      </ionic-selectable>
    </ion-item>
    <ion-item *ngFor="let cat of generos">
      <ion-label position="floating">Gênero</ion-label>
      <ion-select [(ngModel)]="genero" (ionChange)="onChangeGenero(genero)" okText="Ok" cancelText="Fechar"  multiple="false" interface="alert">
        <ion-select-option *ngFor="let genero of cat.resultado" value="{{genero.name}}">{{genero.name}}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>




  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col size="12" class="ion-text-center">
        <ion-button color="medium" (click)="pesquisaComFiltros()">Pesquisar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>


  
 
  
</ion-content>