.titulo-pagina{
    font-size: 2em !important;
    font-family: Verdana;
}

.cardCustomizado {
    padding: 0px !important;
    margin: 0px !important;
    line-height: 0 !important;
}

// .grid-busca {
//     --ion-grid-columns: 3;
// }

.bt {
    border-color:#272724;
    background: #3c3c3c;
}

.bt:active {
    position:relative;
    top:2px;
}
