.titulo-pagina{
    font-size: 2em !important;
    font-family: Verdana;
}

.cardCustomizado {
    padding: 0px !important;
    margin: 0px !important;
    line-height: 0 !important;
}

// .grid-busca {
//     --ion-grid-columns: 3;
// }