<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="titulo-pagina">
      <img src="../../../assets/icon/logo-appbruce-b.png" class="dog">
      Buscar
    </ion-title>
    <ion-icon slot="end" (click)="filtrar()" size="large" name="options-outline"></ion-icon>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list>
    <ion-list-header class="barraPesquisa-header">

      <ion-searchbar id="barraPesquisa" #searchbar (ionInput)="coletaTitulo($event)" (ionClear)="limpaPesquisa($event)" (keyup.enter)="clickEnter($event)" placeholder="Sua busca... "></ion-searchbar>
    
      <ion-button class="bt" (click)="pesquisarPorTitulo()">BUSCAR</ion-button>
    </ion-list-header>
  </ion-list>

  <div class="resultado" *ngIf='msgError'>
    <ion-label> {{msgError}} </ion-label>
  </div>

  <div class="resultado" *ngIf='porTitulo && pesquisaEncontrada'>
    <ion-label> Esses foram os resultados encontrados para: {{pesquisa}} </ion-label>
      <ion-button color="dark" class="btLimpar" (click)="limpaPesquisa($event)">
        Limpar Resultados
      </ion-button>
  </div>
  <br><br>

    <!-- <div *ngIf=pesquisaEncontrada> -->
    <!-- <div> -->
      <!-- <ion-label class='resultado'> Resultados Encontrados para: </ion-label>
      <div></div>
        <ion-button *ngIf="btFiltroGenero" class='botaoFiltro' color='light' (click)="testeBotao()">
          {{btFiltroGenero}}
          <span class="close-filter-tag"> X </span>
        </ion-button>
        <ion-button *ngIf="btFiltroAtor" class='botaoFiltro' color='light' (click)="testeBotao()">
          {{btFiltroAtor}}
          <span class="close-filter-tag"> X </span>
        </ion-button>
        <ion-button *ngIf="btFiltroAno" class='botaoFiltro' color='light' (click)="testeBotao()">
          {{btFiltroAno}}
          <span class="close-filter-tag"> X </span>
        </ion-button>
        <ion-button *ngIf="btFiltroProdutora" class='botaoFiltro' color='light' (click)="testeBotao()">
          {{btFiltroProdutora}}
          <span class="close-filter-tag"> X </span>
        </ion-button>
        <ion-button *ngIf="btFiltroIdioma" class='botaoFiltro' color='light' (click)="testeBotao()">
          {{btFiltroIdioma}}
          <span class="close-filter-tag"> X </span>
        </ion-button>
    </div> -->


  <div id="container">
    <div *ngFor="let cat of items">

        <ion-grid >
          <ion-row >
            <ion-col *ngFor="let producao of cat.producoes" size-sm="2" size="4">
                <ion-card class="cardCustomizado" (click)="abreDetalhes(producao.id, producao.media_type)">
                  <ion-card-content class="cardCustomizado" >
                      <img src= '{{ "http://image.tmdb.org/t/p/original/" + producao.poster_path }}' >
                  </ion-card-content>
                </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>

    </div>
  </div>

</ion-content>
