<ion-header>
  <ion-toolbar>
    <ion-title>
      <img src="../../../assets/icon/logo-appbruce-b.png" class="dog">
      Bruce
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <section>
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
      <ion-grid>
        <ion-col>

          <div class="key-back">
            <ion-row>
              <ion-col style="text-align: left">
                <a routerLink="/login" class="new-account">
                  <ion-icon size="large" name="arrow-back-sharp"></ion-icon>
                </a>
              </ion-col>
            </ion-row>
          </div>

          <ion-row>
            <ion-col style="text-align: center">
              <p>Nova conta</p>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col style="text-align: center">
              <mat-form-field>
                <input type="text" matInput placeholder="Nome completo" required ngModel name="name"
                  #nameInput="ngModel">
                <mat-error *ngIf="nameInput.hasError('required')">Preenchimento obrigatório.</mat-error>
              </mat-form-field>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col style="text-align: center">
              <mat-form-field>
                <input type="email" matInput placeholder="E-mail" required ngModel name="email" email
                  #emailInput="ngModel">
                <mat-error *ngIf="emailInput.hasError('required')">Preenchimento obrigatório.</mat-error>
                <mat-error *ngIf="!emailInput.hasError('required')">E-mail inválido.</mat-error>
              </mat-form-field>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col style="text-align: center">
              <mat-form-field hintLabel="Deve ter pelo menos 6 caracteres.">
                <input type="password" matInput placeholder="Senha" required ngModel name="password"
                  minlength="6" #pwInput="ngModel">
                <mat-hint align="end">{{ pwInput.value?.length }} / 6</mat-hint>
              </mat-form-field>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col style="text-align: center">
              <mat-form-field hintLabel="Deve ter pelo menos 6 caracteres.">
                <input type="password" matInput placeholder="Confirmar Senha" required ngModel name="confirm-password"
                  minlength="6" #confirmInput="ngModel" pattern="{{ pwInput.value }}">

                <mat-error *ngIf="confirmInput.hasError('pattern')"> Campos de Senha e Confirmar Senha devem ser iguais.
                </mat-error>
                <mat-hint align="end">{{ confirmInput.value?.length }} / 6</mat-hint>
              </mat-form-field>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col style="text-align: center">
              <mat-form-field>
                <input matInput placeholder="Data de Aniversário" [matDatepicker]="picker" [max]="maxDate" [min]="minDate"
                  ngModel name="birthdate" required>
                <mat-datepicker #picker></mat-datepicker>
                <button type="button" matSuffix mat-stroked-button (click)="picker.open()">
                  <mat-icon>date_range</mat-icon>
                </button>
              </mat-form-field>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col style="text-align: center">
              <mat-checkbox ngModel name="agree" required>
                Concordo com Termos e Condições.
              </mat-checkbox>
            </ion-col>
          </ion-row>
          
          <ion-row>
            <ion-col style="text-align: center">
             <ion-button class="btn-submit"
                         type="submit"
                         expand="full"
                         [disabled]="f.invalid"
                         >
                Criar conta
              </ion-button>
            
    
            </ion-col>
          </ion-row>

        </ion-col>
      </ion-grid>
    </form>
  </section>
</ion-content>