mat-form-field {
    width: 300px;
}

.key-back {
    width: 300px;
    margin: auto;
}

.btSenha {
    background: none;
}
.material-icons { 
    color: white;
}

.mat-button, .mat-flat-button, .mat-icon-button, .mat-stroked-button {
    background-color: #404040;
}

::ng-deep .mat-form-field-label {
    color: #e6e6e6 !important;
}

::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: #e6e6e6 !important;
}

::ng-deep.mat-form-field-ripple {
   /*change color of underline when focused*/
   background-color :#e6e6e6 !important;
}

::ng-deep .mat-form-field-appearance-legacy .mat-hint {
    color: #e6e6e6 !important;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: #e6e6e6 !important;
  }

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
    border-bottom: 1px solid;
}

::ng-deep .mat-checkbox-inner-container {
    border: 1px solid;
}

a {
    color:#ffffff;
}

.btn-submit{
    width: 300px;
    margin: auto;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #448AFF;
}

.dog {
    max-width: 45px;
}
