<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" [disabled]="habilitado()">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>User</ion-list-header>
          <ion-note>email@gmail.com</ion-note>

          <div>
            <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
              <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none"
                detail="false" [class.selected]="selectedIndex == i">
                <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'" color="#e6e6e6"></ion-icon>
                <ion-label>{{ p.title }}</ion-label>
              </ion-item>
            </ion-menu-toggle>
          </div>

          <ion-menu-toggle auto-hide="false">
            <div *ngIf="!home">
              <ion-item *ngIf="!isAuth" routerLink="/login" lines="none" detail="false">
                <ion-icon slot="start" [ios]="'log-in' + '-outline'" [md]="'log-in' + '-sharp'" color="#e6e6e6"></ion-icon>
                <ion-label>Login</ion-label>
              </ion-item>
            </div>
            <ion-item *ngIf="isAuth" routerLink="/login" lines="none" detail="false" (click)="onLogout()">
              <ion-icon slot="start" [ios]="'log-out' + '-outline'" [md]="'log-out' + '-sharp'" color="#e6e6e6"></ion-icon>
              <ion-label>Logout</ion-label>
            </ion-item>
          </ion-menu-toggle>

        </ion-list>

      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>