<ion-header>
  <ion-toolbar>
    <ion-title>
      <img src="../../../assets/icon/logo-appbruce-b.png" class="dog">
      Bruce
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <section>
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
      <ion-grid>
        <ion-col>

          <div class="key-back">
            <ion-row>
              <ion-col style="text-align: left">
                <a routerLink="/login" class="new-account">
                  <ion-icon size="large" name="arrow-back-sharp"></ion-icon>
                </a>
              </ion-col>
            </ion-row>
          </div>

          <ion-row>
            <ion-col style="text-align: center">
              <p>Recuperar senha</p>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col style="text-align: center">
              <p>Informe um e-mail para recuperação de senha</p>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col style="text-align: center">
              <mat-form-field>
                <input type="email" matInput placeholder="Your e-mail" required ngModel name="email" email
                  #emailInput="ngModel">
                <mat-error *ngIf="emailInput.hasError('required')">Field must not be empty.</mat-error>
                <mat-error *ngIf="!emailInput.hasError('required')">E-mail is invalid.</mat-error>
              </mat-form-field>
            </ion-col>
          </ion-row>
          
          <ion-row>
            <ion-col style="text-align: center">
             <ion-button class="btn-submit"
                         type="submit"
                         expand="full"
                         [disabled]="f.invalid"
                         >
                Corfirmar
              </ion-button>
            </ion-col>
          </ion-row>
          
        </ion-col>
      </ion-grid>
    </form>
  </section>
</ion-content>