<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>{{ welcome }}</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">{{ welcome }}</ion-title>
      </ion-toolbar>
    </ion-header>
  
    <div id="container">
      
      <div *ngFor="let cat of items">
        <ion-row class="category-banner">
          <ion-col class="ion-align-self-center">
            {{ cat.categoria }}
          </ion-col>
        </ion-row>

        <ion-slides>
          <ion-slide *ngFor="let producao of cat.producoes">
            <ion-card>
              <ion-card-header>
                <ion-card-title style="color: white;">
                  {{ producao.media_type == "tv" ? producao.name : producao.title }}
                </ion-card-title>
              </ion-card-header>

              <ion-card-content>
                <img src="http://image.tmdb.org/t/p/w185" {{producao.poster_path}}>
              </ion-card-content>
            </ion-card>
          </ion-slide>
        </ion-slides>

      </div>
      
    </div>
  </ion-content>
  